.app
{
    background-image: url("https://garden.spoonflower.com/c/15697266/p/f/m/10n8W_dqYUs00t0qywVD1kwzMD_AAd1ae9qKHQt85hLQma8tSCKC/Khaki%20beige%20solid%20block%20plain%20color.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
